{# Last review #}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="review-shape m-5">
                    <div class="text-center margin-large">
                        <h2 class="medium-font englebert-regular yellow mb-5">Ils ont donné leur avis</h2>
                        <div class="d-flex flex-column justify-content-end">
                            <p class="medium-large-font comment-text"> "{{lastreview.comment}}"</p>
                            <p class="small-font fst-italic"> ~ {{lastreview.pseudo}} le {{lastreview.date|date("d/m/Y", "Europe/Paris")}} ~</p>
                            <btn href="#" class="btn btn-blue mt-2 openbtn" onclick="openNav()">&#9776; Voir tous les avis</btn> 
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{{ path('app_review')}}" class="light-blue">Je donne mon avis</a>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{{ asset('images/animal/fox.jpg')}}" alt="fox" class="full-width hidden">
</section>