{% extends 'base.html.twig' %}

{% block title %}Parc Zoologique - Zoo Brocéliande !{% endblock %}

{% block body %}

<header class="hero">
    <img src="{{ asset('images/hero/hero.jpg') }}"  class="hero-image" alt="hero image"> 
        <div class="hero-content raleway large-font">
            Offrez vous une visite inoubiable
        </div>
</header>

{# Habitat #}
<section class="habitat-section m-5">
    <div class="large-circle hidden m-5">
            <a href="#">
                <img class="large-img habitat-img" src="{{ asset('images/animal/lion.jpg') }}" alt="">
            </a>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="large-font englebert-regular">Les merveilleux habitats</h2>
        <p class="small-font">Découvrez les divers habitats et les animaux qui y vivent</p>
        <a href="{{ path('app_habitat')}}" class="btn btn-green">Je découvre les habitats ></a>
    </div>
</section>

{# Service #}
<section class="service-section">
    <h2 class="large-font englebert-regular text-center text-white">Services & Activités</h2>
    <p class="text-white text-center small-font my-5">Laissez-vous guider à travers nos diverses <span class="fw-bold">activités</span> et découvrez nos nombreux <span class="fw-bold">services de restauration</span>.</p>
    <div class="owl-carousel owl-theme d-flex">
        <div class="item hover-translate">
            <div class="polygon m-2">
                <a href=""><img class="large-img habitat-img" src="{{ asset('images/service/guide.jpg') }}" alt=""></a>
            </div>
            <p class="text-white text-center small-font">RESTAURATION</p>
            <p class="text-white text-center medium-font raleway fw-bold">Nos différents restaurants</p>
        </div>
        <div class="item hover-translate">
            <div class="polygon m-2">
                <img class="large-img habitat-img" src="{{ asset('images/service/restaurant.jpg') }}" alt="">
            </div>
            <p class="text-white text-center small-font">RESTAURATION</p>
            <p class="text-white text-center medium-font raleway fw-bold">Nos différents restaurants</p>
        </div>
        <div class="item hover-translate">
            <div class="polygon m-2">
                <img class="large-img habitat-img" src="{{ asset('images/service/train.jpg') }}" alt="">
            </div>
            <p class="text-white text-center small-font">RESTAURATION</p>
            <p class="text-white text-center medium-font raleway fw-bold">Nos différents restaurants</p>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center mt-3">
        <p class="medium-font yellow raleway text-center">Explorez tous nos fabuleux services ici!</p>
        <a href="#" class="btn btn-yellow">Je découvre les services ></a>
    </div>

</section>

<script>
        $(document).ready(function() {
            $(".owl-carousel").owlCarousel({
                items: 1,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                autoplaySpeed: 1000,
                nav: false,
                smartSpeed: 1000,
                responsive: {
                    0: {
                        items: 1
                    },
                    992: {
                        items: 1.5
                    },
                    1200: {
                        items: 2.5
                    }
                }
            });
        });
</script>
{% endblock %}
