{% extends 'base.html.twig' %}

{% block title %}Les services | Zoo de Brocéliande{% endblock %}

{% block body %}

<h1 class="large-font englebert-regular yellow text-center mt-5">Tous nos services</h1>
<div class="d-flex justify-content-center m-5">
    <p class="small-font text-center ms-5 me-5 fst-italic">Nous offrons des visites guidées, des ateliers éducatifs et des rencontres animales pour enrichir votre expérience. Profitez également de nos aires de jeux, espaces pique-nique, cafétéria et boutique de souvenirs pour une journée complète en famille.</p>
</div>

</p>
<div class="yellow-separator mb-5"></div>

<div class="container-fluid">
    <div class="row">

        {% for service in services %}
        <div class="col-lg-4 col-md-6 col-sm-8 d-flex justify-content-center"> 
            <div class="card-service">
                <div class="card-image-service">
                    <img src="{{ asset(vich_uploader_asset(service)) }}" alt="{{ service.imageName }}">
                </div>
                
                {% if service.category == 'Restauration' %}
                <div class="card-text-darkblue">
                {% elseif service.category == 'Activité' %}
                <div class="card-text-lightblue">
                {% elseif service.category == 'Visite' %}
                <div class="card-text-green">
                {% endif %}

                <p class="card-category fst-italic yellow">{{ service.category|upper }}</p>
                    <h2 class="card-title fst-italic">{{ service.name }}</h2>
                    <p class="card-body">{{ service.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
