{% extends 'base.html.twig' %}

{% block title %}{{ animal.name }} | Arcadia Zoo{% endblock %}

{% block body %}
<div class="animal-container p-5">
    <h1 class="medium-large-font englebert-regular blue text-center green">{{ animal.name }}</h1>
    <div class="green-separator mb-5"></div>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-5 col-md-12">
                <div class="card">
                    <div class="card bg-dark text-white">
                        <img src="{{ asset(vich_uploader_asset(animal)) }}" alt="{{ animal.imageName }}" class="card-img">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 mt-3 text-white">
                <p class="medium-font"><span class="green">Prénom : </span>{{ animal.name }}</p>
                <p class="medium-font"><span class="green">Espèce : </span>{{ animal.species }}</p>
                <p class="medium-font"><span class="green">Habitat : </span> 
                    <a href="{{ path('habitat_details', {'slug': animal.habitat}) }}" class="yellow">{{ animal.habitat}}</a>
                </p>
                <p class="medium-font"><span class="green">Description : </span>{{ animal.detail }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
