{% extends 'base.html.twig' %}

{% block title %}Je donne mon avis | Arcadia Zoo{% endblock %}

{% block body %}
<div class="container-fluid">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
</div>

<div class="container">
    <div class="row d-flex justify-content-center m-5">
        <div class="col-lg-6 col-md-12 review-container">
            <h2 class='mt-5 text-center large-font darkblue mt-5'>Je donne mon avis</h2>
            <div class="black-separator"></div>
                <div class="mt-5">
                    {{ form_start(form) }}
                        {{ form_label(form.pseudo) }}
                        {{ form_widget(form.pseudo) }}
                            {% if form_errors(form.pseudo) %}
                                <div class="text-danger">
                                    {{ form_errors(form.pseudo) }}
                                </div>
                            {% endif %}
                        {{ form_label(form.comment) }}
                        {{ form_widget(form.comment) }}
                            {% if form_errors(form.comment) %}
                                <div class="text-danger">
                                    {{ form_errors(form.comment) }}
                                </div>
                            {% endif %}
                    {{ form_end(form)}}
                </div>
        </div>
    </div>
</div>
{% endblock %}
